@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

:root {
    --black: #181818;
    --white: #F5F5F5;
    --background-color: var(--white);
    --foreground-color: var(--black);
    --secondary-color: #7E7E7E;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--background-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--foreground-color);
    padding: 20px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 250px;
    font-size: 24px;
    font-weight: bold;
}

nav > ul li {
    list-style-type: none;
}

nav > ul a {
    color: var(--foreground-color);
    text-decoration: none;
}

#toggle-dark-mode {
    font-size: 40px;
    cursor: pointer;
    color: var(--foreground-color);
}

h1 {
    color: var(--foreground-color);
    font-size: 64px;
    text-align: center;
    margin: 30px 0;
}

p {
    color: var(--foreground-color);
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
}

input[type="text"] {
    outline: none;
    font-family: inherit;
    background-color: var(--background-color);
    color: var(--foreground-color);
    display: block;
    margin: 25px auto;
    font-size: 40px;
    padding: 5px;
    text-align: center;
    border: 3px solid var(--foreground-color);
}

input[type="color"] {
    display: block;
    margin: 25px auto;
    border: 3px solid var(--foreground-color);
    width: 258px;
    height: 64px;
    padding: 5px;
    background-color: var(--background-color);
}

button {
    display: block;
    margin: 25px auto;
    border: 3px solid var(--foreground-color);
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 22px;
    font-family: inherit;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);
    transition: ease-in-out 0.3s;
}

#columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    width: 300px;
    margin: 0 40px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
    color: var(--foreground-color);
}

h3 {
    font-size: 70px;
    text-align: center;
    font-weight: normal;
    color: var(--foreground-color);
}

#results {
    margin: 0 auto;
}

#results p  {
    display: flex;
    margin: 40px auto;
    width: 500px;
    font-size: 30px;
}

.color-square {
    width: 40px;
    height: 40px;
    border: 3px solid var(--foreground-color);
    margin: 0 20px;
}

.approx {
    font-size: 26px;
    color: var(--secondary-color);
    margin-left: 10px;
}

@media only screen and (max-width: 760px) {
    nav {
        flex-direction: column;
    }
    nav img {
        margin-bottom: 10px;
    }
    nav > ul {
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 50px;
    }

    #results p {
        font-size: 20px;
        width: 320px;
        margin: 20px auto;
    }

    .color-square {
        width: 25px;
        height: 25px;
    }
}