@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

:root {
    --black: #181818;
    --white: #F5F5F5;
    --dark-gray: #424242;
    --gray: #c2c2c2;
    --background-color: var(--white);
    --foreground-color: var(--black);
    --secondary-color: var(--dark-gray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--background-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--foreground-color);
    padding: 20px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 350px;
    font-size: 24px;
}

nav>ul li {
    list-style-type: none;
}

a {
    color: var(--foreground-color);
    text-decoration: none;
    font-weight: bold;
}

#toggle-dark-mode {
    font-size: 40px;
    cursor: pointer;
    color: var(--foreground-color);
}

h1 {
    color: var(--foreground-color);
    font-size: 64px;
    text-align: center;
    margin: 50px 0;
}

p {
    color: var(--foreground-color);
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
}

#main-footer p {
    color: var(--secondary-color);
    font-size: 14px;
    width: calc(100% - 40px);
    max-width: 700px;
    text-align: left;
    margin: 20px auto;
    line-height: 20px;
    word-wrap: break-word;
}

sup {
    color: var(--secondary-color);
    margin-left: 5px;
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 42px;
        margin: 30px 0;
    }
}