select {
    display: block;
    margin: 20px auto;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 3px solid var(--foreground-color);
    padding: 10px;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
    width: calc(100% - 40px);
    max-width: 600px;
    outline: none;
    border-radius: 0;
    cursor: pointer;
}